[Unit]
Description=Kafka Manager
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User={{ kafka_monitor_user }}
Group={{ kafka_monitor_user }}
ExecStart=/opt/CMAK/cmak-3.0.0.5/bin/cmak
Type=simple
